body{
    background-color:rgba(31, 30, 29, 0.897);
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}
header{
    background-color:rgb(207, 205, 202);
    width: 100%;
    height: 20vh;
    display: flex;
    box-shadow: 0px 10px 25px rgba(124, 121, 117, 0.829);
}
.cont{
    width: 100%;
}
li > img{
    width: 15vw;
}
#lista{
    image-rendering: optimizeSpeed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 100%;
    padding: 5vw 8vw;
    margin: 5vw 5vw;
    background-color: rgba(196, 196, 196, 0.897);
    box-shadow: inset 0px 0px 100px rgb(0, 0, 0);
    list-style: none;
    border-radius: 40px;
    font-size: 2vw;
    color: rgba(10, 10, 10, 0.925);
    text-align: center;
    font-family: garamond;
    justify-content: center;
}
#lista > li{

    margin: 2vw;
}
#lista > li:hover{
    transform: scale(1.1);
    transition: 200ms linear;
    cursor: pointer;
}
#lista1{
    image-rendering: optimizeSpeed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 100%;
    padding: 5vw 8vw;
    margin: 5vw 5vw;
    background-color: rgba(196, 196, 196, 0.897);
    box-shadow: inset 0px 0px 100px rgb(0, 0, 0);
    list-style: none;
    border-radius: 40px;
    font-size: 2vw;
    color: rgba(10, 10, 10, 0.925);
    text-align: center;
    font-family: garamond;
    justify-content: center;
}
#lista1 > li{

    margin: 2.4vw;
}
#lista1 > li:hover{
    transform: scale(1.1);
    transition: 200ms linear;
    cursor: pointer;
}
#nome{ 
    width: 15vw;
    margin-top: -1vw;
    margin-left: 2vw;
}
#nome:hover{
    transform: scale(1.1);
    transition: 200ms linear;
    cursor: pointer;
}
#arma{
    width: 10vw;
    margin-bottom: 4vw;
}
#arma:hover{
    transform: scale(1.1);
    transition: 200ms linear;
    cursor: pointer;
}
#armor{
    width: 16vw;
    margin-bottom: 3.5vw;
}
#armor:hover{
    transform: scale(1.1);
    transition: 200ms linear;
    cursor: pointer;
}
#sword{
    width: 13vw;
    margin-left: 10vw;
    margin-right: -3vw;
    margin-bottom: 1vw;
}
#sword:hover{
    transform: scale(1.1);
    transition: 200ms linear;
    cursor: pointer;
}
#plate{
    width: 13vw;
    margin-left: 10vw;
    margin-right: -3vw;
    margin-bottom: 1vw;
}
#plate:hover{
    transform: scale(1.1);
    transition: 200ms linear;
    cursor: pointer;
}
.site > a > h1{
    font-size: 3vw;
    color: rgba( 200, 155, 60);
    text-align: center;
    padding-top: 4vw;
    font-family: garamond;
}
.site > a > h1:hover{
    transform: scale(0.97);
    transition: 200ms linear;
    cursor: pointer;
}
.jogo > a > h1{
    font-size: 3vw;
    color: rgba( 200, 155, 60);
    text-align: center;
    padding-top: 4vw;
    font-family: garamond;
    justify-content: center;
}
.jogo > a > h1:hover{
    transform: scale(0.97);
    transition: 200ms linear;
    cursor: pointer;
}
.site > h2{
    font-size: 2vw;
    color: rgba(212, 212, 212, 0.945);
    text-align: center;
    padding-bottom: 3vw;
    font-family: garamond;
    justify-content: center;
}
.jogo > p{
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
    text-align: justify;
    padding: 0.2vw 15vw;
    font-family: garamond;
    justify-content: center;
}

.jogo > h2{
    font-size: 2vw;
    color: rgba(200, 170, 110);
    text-align: center;
    font-family: garamond;
    justify-content: center;
}
.site > h2 > a {
    color: rgba( 200, 155, 60);
}
a{
    text-decoration: none;
    color: rgba( 200, 155, 60);
}
footer {
    margin-top: 5vw;
    height: 40vh;
    background-color: rgb(39, 39, 44);
    box-shadow: 0px 10px 25px rgba(43, 39, 39, 0.829);
    font-family: garamond;
    color: white;
  }
  .us {
    display: inline;
    float: left;
    margin-left: 6vw;
    margin-top: 1.5vw;
  }
  .help {
    display: inline;
    float: right;
    margin-right: 22vw;
    margin-top: 1.5vw;
  }
  .us > a {
    line-height: 1.6vw;
    font-size: 2vw;
    display: flex;
    margin-bottom: 1.3vw;
    cursor: pointer;
  }
  .help > a {
    line-height: 1.6vw;
    font-size: 2vw;
    display: flex;
    margin-bottom: 1.3vw;
    cursor: pointer;
  }
  .us > h3 {
    line-height: 1.6vw;
    font-size: 2.4vw;
    margin-bottom: 3vw;
  }
  .help > h3 {
    line-height: 1.6vw;
    font-size: 2.4vw;
    margin-bottom: 3vw;
  }
#video{
    width: 45vw;
    margin-left: 26vw;
}

@media only screen and (max-width: 900px) {
    li > img{
        width: 25vw;
    }
    #lista{
        image-rendering: optimizeSpeed;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        max-width: 100%;
        padding: 5vw 8vw;
        margin: 5vw 5vw;
        background-color: rgba(196, 196, 196, 0.897);
        box-shadow: inset 0px 0px 100px rgb(0, 0, 0);
        list-style: none;
        border-radius: 40px;
        font-size: 2vw;
        color: rgba(10, 10, 10, 0.925);
        text-align: center;
        font-family: garamond;
        justify-content: center;
        font-size: 3.5vw;
    }
    #lista1{
        image-rendering: optimizeSpeed;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        max-width: 100%;
        padding: 5vw 8vw;
        margin: 5vw 5vw;
        background-color: rgba(196, 196, 196, 0.897);
        box-shadow: inset 0px 0px 100px rgb(0, 0, 0);
        list-style: none;
        border-radius: 40px;
        font-size: 2vw;
        color: rgba(10, 10, 10, 0.925);
        text-align: center;
        font-family: garamond;
        justify-content: center;
        font-size: 3.5vw;
    }
    header{
        background-color:rgb(207, 205, 202);
        width: 100%;
        height: 20vh;
        display: flex;
        box-shadow: 0px 10px 25px rgba(124, 121, 117, 0.829);
    }
    #nome{
        width: 23vw;
        margin-top: 1vw;
        margin-left: 2vw;
    }
    #nome:hover{
        transform: scale(1.1);
        transition: 200ms linear;
        cursor: pointer;
    }
    #arma{
        width: 13.5vw;
        margin-bottom: 7vw;
    }
    #arma:hover{
        transform: scale(1.1);
        transition: 200ms linear;
        cursor: pointer;
    }
    #armor{
        width: 22vw;
        margin-bottom: 6.6vw;
    }
    #armor:hover{
        transform: scale(1.1);
        transition: 200ms linear;
        cursor: pointer;
    }
    #sword{
        width: 16vw;
        margin-left: 5vw;
        margin-right: -3vw;
        margin-bottom: 3vw;
    }
    #sword:hover{
        transform: scale(1.1);
        transition: 200ms linear;
        cursor: pointer;
    }
    #plate{
        width: 16vw;
        margin-left: 3vw;
        margin-right: -3vw;
        margin-bottom: 3vw;
    }
    #plate:hover{
        transform: scale(1.1);
        transition: 200ms linear;
        cursor: pointer;
    }
    .site > a > h1{
        font-size: 5vw;
        color: rgba( 200, 155, 60);
        text-align: center;
        padding-top: 4vw;
        font-family: garamond;
    }
    .site > a > h1:hover{
        transform: scale(0.97);
        transition: 200ms linear;
        cursor: pointer;
    }
    .site > h2{
        font-size: 3.5vw;
        color: rgba(212, 212, 212, 0.945);
        text-align: center;
        padding-bottom: 3vw;
        font-family: garamond;
    }
    .jogo > p{
        font-size: 3.3vw;
        color: rgb(255, 255, 255);
        text-align: justify;
        padding: 0.2vw 12vw;
        font-family: garamond;
    }
    .jogo > a > h1{
        font-size: 4.3vw;
    }
    .jogo > h2{
        font-size: 3.7vw;
        color: rgba(200, 170, 110);
        text-align: center;
        font-family: garamond;
    }
    .site > h2 > a {
        color: rgba( 200, 155, 60);
    }
    a{
        text-decoration: none;
        color: rgba( 200, 155, 60);
    }
    footer {
        margin-top: 5vw;
        height: 30vh;
        background-color: rgb(39, 39, 44);
        box-shadow: 0px 10px 25px rgba(43, 39, 39, 0.829);
        font-family: garamond;
        color: white;
      }
      .us {
        display: inline;
        float: left;
        margin-left: 8vw;
        margin-top: 1.5vw;
      }
      .help {
        display: inline;
        float: right;
        margin-right: 22vw;
        margin-top: 1.5vw;
      }
      .us > a {
        line-height: 1.6vw;
        font-size: 3vw;
        display: flex;
        margin-bottom: 5vw;
        cursor: pointer;
      }
      .help > a {
        line-height: 1.6vw;
        font-size: 3vw;
        display: flex;
        margin-bottom: 5vw;
        cursor: pointer;
      }
      .us > h3 {
        line-height: 1.6vw;
        font-size: 4vw;
        margin-bottom: 5vw;
      }
      .help > h3 {
        line-height: 1.6vw;
        font-size: 4vw;
        margin-bottom: 5vw;
      }
    #video{
        width: 70vw;
        margin-left: 15vw;
    }
    #elden{
        font-size: 4.5vw;
      }
}
@media only screen and (max-width: 500px) {

    #lista{
        image-rendering: optimizeSpeed;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5vw 8vw;
        margin: 5vw 5vw;
        background-color: rgba(196, 196, 196, 0.897);
        box-shadow: inset 0px 0px 100px rgb(0, 0, 0);
        list-style: none;
        border-radius: 40px;
        font-size: 2vw;
        color: rgba(10, 10, 10, 0.925);
        text-align: center;
        font-family: garamond;
        justify-content: center;
        font-size: 5.5vw;
    }
    li > img{
        width: 35vw;
    }
    #lista1{
        image-rendering: optimizeSpeed;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5vw 8vw;
        margin: 5vw 5vw;
        background-color: rgba(196, 196, 196, 0.897);
        box-shadow: inset 0px 0px 100px rgb(0, 0, 0);
        list-style: none;
        border-radius: 40px;
        font-size: 2vw;
        color: rgba(10, 10, 10, 0.925);
        text-align: center;
        font-family: garamond;
        justify-content: center;
        font-size: 5.5vw;
    }
    header{
        background-color:rgb(207, 205, 202);
        width: 100%;
        height: 13vh;
        display: flex;
        box-shadow: 0px 10px 25px rgba(124, 121, 117, 0.829);
    }
    #nome{
        width: 35vw;
        margin-top: 1vw;
        margin-left: 3vw;
    }
    #nome:hover{
        transform: scale(1.1);
        transition: 200ms linear;
        cursor: pointer;
    }
    #arma{
        width: 20vw;
        margin-bottom: 6.5vw;
    }
    #arma:hover{
        transform: scale(1.1);
        transition: 200ms linear;
        cursor: pointer;
    }
    #armor{
        width: 32vw;
        margin-bottom: 5.8vw;
        margin-left: 3vw;
    }
    #armor:hover{
        transform: scale(1.1);
        transition: 200ms linear;
        cursor: pointer;
    }
    #sword{
        width: 18vw;
        margin-left: 1vw;
        margin-right: -3vw;
        margin-bottom: 1vw;
        display: none;
    }
    #sword:hover{
        transform: scale(1.1);
        transition: 200ms linear;
        cursor: pointer;
    }
    #plate{
        width: 18vw;
        margin-left: 1vw;
        margin-right: -3vw;
        margin-bottom: 1vw;
        display: none;
    }
    #plate:hover{
        transform: scale(1.1);
        transition: 200ms linear;
        cursor: pointer;
    }
    .site > a > h1{
        font-size: 7.4vw;
        color: rgba( 200, 155, 60);
        text-align: center;
        padding-top: 4vw;
        font-family: garamond;
    }
    .site > a > h1:hover{
        transform: scale(0.97);
        transition: 200ms linear;
        cursor: pointer;
    }
    .site > h2{
        font-size: 5.5vw;
        color: rgba(212, 212, 212, 0.945);
        text-align: center;
        padding-bottom: 3vw;
        font-family: garamond;
    }
    .jogo > p{
        font-size: 5.2vw;
        color: rgb(255, 255, 255);
        text-align: justify;
        padding: 0.2vw 10vw;
        font-family: garamond;
    }
    .jogo > a > h1{
        font-size: 7vw;
    }
    .jogo > h2{
        font-size: 5vw;
        color: rgba(200, 170, 110);
        text-align: center;
        font-family: garamond;
    }
    .site > h2 > a {
        color: rgba( 200, 155, 60);
    }
    a{
        text-decoration: none;
        color: rgba( 200, 155, 60);
    }
    footer {
        margin-top: 5vw;
        height: 20vh;
        background-color: rgb(39, 39, 44);
        box-shadow: 0px 10px 25px rgba(43, 39, 39, 0.829);
        font-family: garamond;
        color: white;
      }
      .us {
        display: inline;
        float: left;
        margin-left: 8vw;
        margin-top: 1.5vw;
      }
      #elden{
        font-size: 6vw;
      }
      .help {
        display: inline;
        float: right;
        margin-right: 10vw;
        margin-top: 1.5vw;
      }
      .us > a {
        line-height: 1.6vw;
        font-size: 4.5vw;
        display: flex;
        margin-bottom: 5vw;
        cursor: pointer;
      }
      .help > a {
        line-height: 1.6vw;
        font-size: 4.5vw;
        display: flex;
        margin-bottom: 5vw;
        cursor: pointer;
      }
      .us > h3 {
        line-height: 1.6vw;
        font-size: 6vw;
        margin-bottom: 5vw;
      }
      .help > h3 {
        line-height: 1.6vw;
        font-size: 6vw;
        margin-bottom: 5vw;
      }
    #video{
        width: 80vw;
        margin-left: 10vw;
        height: 25vh;
    }
}